<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>ZTA</title>
</head>
<body>
    <div class="container">
        <button class="logout-btn" onclick="logout()">Logout</button>
        <div class="user-identifiers">
            <p>Welcome, <span style="font-weight: bold;" id="username">{{ username }}</span></p>
            <p>Email: <span style="font-style: italic;" id="email">{{ email }}</span></p>
            <p>Role: <b><span style="color: #FFFDD0;" id="userRole">{{ user_role }}</span></b></p>
            <p>User ID: <span style="text-decoration: underline;" id="userId">{{ user_id }}</span></p>
        </div>
        
        <h2>Zero Trust Access and Configuration Page</h2>
        <p class="access-message">Please select one of the following options:</p>
        <div class="options">
            <div class="option" id="option1" role="button" tabindex="0" aria-label="Access Protected Resources" onclick="redirectToResourceSelection()">
                <h3>01. Access Protected Resources</h3>
                <p>Securely access sensitive data and services based on zero trust principles.</p>
            </div>
            <div class="option" id="option2" role="button" tabindex="0" aria-label="Configure Security Policies" onclick="redirectToConfigurePolicies()">
                <h3>02. Configure Security Policies</h3>
                <p>Configure contextual security policies for Zero Trust Network Access.</p>
            </div>
            <div class="option" id="option3" role="button" tabindex="0" aria-label="Monitoring and logging" onclick="redirectToMonitoring()">
                <h3>03. Monitoring and logging</h3>
                <p>Get full visibility of system logs and events.</p>
            </div>
            <div class="option" id="option4" role="button" tabindex="0" aria-label="Privileged Access Management" onclick="redirectToPAM()">
                <h3>04. Privileged Access Management</h3>
                <p>Least Privileged just-in-time access for highly sensitive resources.</p>
            </div>
            <div class="option" id="option5" role="button" tabindex="0" aria-label="Approve PAM Requests" onclick="redirectToApprovePAM()">
                <h3>05. Approve PAM requests</h3>
                <p>Facilitate Just-in-Time Access By Approving PAM requests.</p>
            </div>
        </div>
        <div class="footer">
            &copy; 2023 LeoTech LTD
        </div>
    </div>
    <script>
        function redirectToResourceSelection() {
            // Redirect to the ResourceSelection.html page
            window.location.href = 'resource-selection';
        }

        function logout() {
            // Redirect to the /revokeToken route for logout
            window.location.href = '/revokeToken';
        }

        function redirectToConfigurePolicies(){
            window.location.href = '/configurePolicies';
        }

        function redirectToMonitoring(){
            window.location.href = '/monitoring-and-logging'
        }

        function redirectToPAM(){
            window.location.href = '/privilegedAccess'
        }

        function redirectToApprovePAM(){
            window.location.href = '/testing'
        }

        //function to disable options based on user role
        function disableOptionsForRole(userRole) {
            const policyAdminOptions = ['option2']; // IDs of options available to Policy Administrators
            const securityViewerOptions = ['option3']; // IDs of options available to Security Viewers
            const pam_option = ['option4']; //IDs of options available for Privileged admins
            const resource_access = ['option1'];
            const approver_pam_requests = ['option5']
            
            if (userRole === 'Policy Administrator') {
                // Disable options not available to Policy Administrators
                securityViewerOptions.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
                resource_access.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
                approver_pam_requests.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
            } else if (userRole === 'Approver') {
                // Disable options not available to Security Viewers
                policyAdminOptions.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
                pam_option.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
                securityViewerOptions.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
            }
            else if (userRole === 'Security Viewer'){
                // Disable options not available to Security Viewers
                policyAdminOptions.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
                resource_access.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });

                approver_pam_requests.forEach(optionId => {
                    const option = document.getElementById(optionId);
                    option.style.pointerEvents = 'none';
                    option.style.opacity = '0.5'; // Grey out the option
                });
            }
        }

        // Call the function when the page loads, passing in the user's role
        document.addEventListener('DOMContentLoaded', function () {
            const userRole = "{{ user_role }}"; // Fetch the user's role from the template variable
            disableOptionsForRole(userRole);
        });

    </script>
</body>
</html>
