<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Welcome to Zero Trust Platform</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Zero Trust Platform</h1>
        <p>We're here to secure your digital experience.</p>
        <a href="/login" class="btn-authenticate">Authenticate</a>
    </div>
</body>
</html>
