<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pam.css')}}">
    <title>Privileged Access Management</title>
</head>
<body>
    <div class="container">
        <h2>Privileged Access Management</h2>
        <p>Just-in-Time Access To Privileged Tasks and Resources</p>

        <form method="POST" action="/privilegedAccess">
            <label for="resource_name">Select Resource/Privileged Tasks:</label>
            <select id="resource_name" name="resource_name" required>
                <option value="Resource 1">System Security Policies Configuration</option>
                <option value="Resource 2" disabled>Resource 2</option>
                <option value="Resource 3" disabled>Resource 3</option>
            </select>
        
            <label for="reason_for_access">Reason for Access:</label>
            <textarea id="reason_for_access" name="reason_for_access" rows="4" cols="50" required></textarea>
        
            <label for="access_duration">Access Duration (in minutes, up to 100 minutes):</label>
            <input type="number" id="access_duration" name="access_duration" min="1" max="100" required>

            <label for="approvers">Approvers(Select at least two)</label>
            <select id="approvers" name="approvers" multiple required>
                {% for email in email_addresses %}
                <option value="{{ email }}">{{ email }}</option>
                {% endfor %}
            </select>
            
            <input type="submit" value="Submit PAM Request">
        </form>
        
    </div>

    <script>
        // Set the hidden field value to the current timestamp
        document.getElementById("request_time").value = new Date().toISOString();
    </script>
</body>
</html>
